{% extends "admin.html"%}
{% load static %}
<div class="container">
  <div class="row mt-5 p-5">
    <div class="col-lg-2 mt-5 p-5">

    </div>
  </div>
  <div class="row">
    {% block bodycontent %}
    <h3 style="text-align: right;" class="mt-3"><b>Active Orders</b></h3>
    <div class="col-lg-11">
      <div class="container">
        <table class="table m-5 p-5 table-hover shadow-lg" style="border-radius: 23px;">
            <tr> 
              <th>Product ID</th>
              <th>Product Name</th>
              <th>Comapny Name </th>
              <th>Company Mobile NO</th>
              <th>Product Price </th>
              <th>Delevry Date </th>
              <th>Order Status </th>
              
            {% for getdata in ao3 %}
            <tr>
                <td> {{ getdata.proid}} </td>
                <td> {{ getdata.proname}} </td>
                <td> {{ getdata.com_name}} </td>
                <td> {{ getdata.com_mob}} </td>
                <td> {{ getdata.price}} </td>
                <td> {{ getdata.delev_date}} </td>
                <td> {{ getdata.Order_Status}} </td>
            </tr>
            {% endfor %}
        </table>
    </div>
  </div>
  {% endblock %}
</div>
</div>
