{% extends "admin.html"%}
{% load static %}
<div class="cointainer">
    <div class="row ">
        <from id="pro_update" method="POST" enctype="multipart/form-data">
        {% block bodycontent %}
        <h3 style="text-align: right;" class="mt-3"><b>Product View</b></h3>
        <div class="col-lg-4 p-5">
            <img class="shadow-lg" src="{{ selprod.propic.url }}" width="230px">
            <br>
            <hr>
            <br>
            {{ test }}
        </div>
        <div class="col-lg-6">
            <table class="table mt-5 p-5 table-hover shadow-lg" style="border-radius: 23px;">
                <tr>
                    <td> Product ID</td>
                    <td>{{ selprod.proid}}</td>
                    <td><input type="text" name="pid" value="{{ selprod.proid}}" class="form-control" readonly> </td>
                </tr>
                <tr>
                    <td>Prodect Name </td>
                    <td>{{ selprod.proname}}</td>
                    <td><input type="text" name="pn" value=" {{ selprod.proname}} " class="form-control"></td>
                </tr>
                <tr>
                    <td>Product Catagory</td>
                    <td>{{ selprod.procatag }}</td>
                    <td><input type="text" name="pc" value=" {{ selprod.procatag }} " class="form-control"></td>
                </tr>
                <tr>
                    <td> Product Type </td>
                    <td>{{ selprod.protype }}</td>
                    <td><input type="text" name="pt" value=" {{ selprod.protype }} " class="form-control"></td>
                </tr>
                <tr>
                    <td> Product Quantity </td>
                    <td>{{ selprod.proquant }}</td>
                    <td><input type="text" name="pq" value=" {{ selprod.proquant }} " class="form-control"></td>
                </tr>
                <tr>
                    <td> Product Price </td>
                    <td>{{ selprod.proprice }}</td>
                    <td><input type="text" name="pp" value=" {{ selprod.proprice }} " class="form-control"></td>
                </tr>
                <tr>
                    <td> Product Disc </td>
                    <td>{{ selprod.prodisc }}</td>
                    <td><textarea row="5" name="pd" value=" {{ selprod.prodisc }} " class="form-control"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td><a class="form-control btn btn-danger" href="/prodelete/{{ getdata.proid }}">Delete</td>
                    <td><a class="form-control btn btn-primary" href="/proupdate/{{ getdata.proid }}">Update</td>
                </tr>
            </table>
        </div>
        {% endblock %}
    </from>
    </div>
</div>
