{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <title>Company_Name</title>
<!-- Navbar --> 
<nav class="navbar navbar-expand-lg navbar-secondary bg-white fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
              aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation" >
              <i class="fas fa-bars"></i> 
    </button>
    <div class="collapse navbar-collapse" id="navbarExample01"> 
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 "> 
        <li class="nav-item active">
          <a class="nav-link" href="/index"><img src="{% static 'images/logo1.jpg' %}" height="30" weight="100"></a>
        </li>
        <li class="nav-item active"> <a class="nav-link" href="/index">Home</a> </li> 
        <li class="nav-item"> <a class="nav-link" href="/index">Prodect</a> </li>
        <li class="nav-item"> <a class="nav-link" href="/index">About</a> </li>
        <li class="nav-item"> <a class="nav-link" href="/index">Contact</a> </li>
        <li class="nav-item"> <a class="nav-link" href="/prelr">LogIn</a> </li>
      </ul>
    </div>
  </div>
</nav>
</head>  <hr>
<!-- Navbar -->



<!-- Footer -->
<footer class="bg-dark text-center text-white mt-5">
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"><i class="fab fa-facebook-f"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"><i class="fab fa-twitter"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button" ><i class="fab fa-google"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button" ><i class="fab fa-instagram"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button" ><i class="fab fa-linkedin-in"></i></a>
    </section>
    <!-- Section: Social media -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="#">Bying office</a>
    </div>
    <!-- Copyright -->
  </div>
</footer>
<!-- Footer -->
</html>